<!DOCTYPE HTML>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/blog.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/flat-ui.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/simditor.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/monokai_sublime.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/module.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/hotkeys.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/simditor.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/highlight.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/flat-ui.min.js') }}"></script>
    <title> September </title>
  </head>
  <body>
    <div class="container">
      <nav class="navbar navbar-inverse navbar-embossed" role="navigation">
        <div class="collapse navbar-collapse" id="navbar-collapse-01">
          <ul class="nav navbar-nav navbar-left">
            <li><a class="navbar-brand" href="/">首页</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">常用链接<b class="caret"></b></a>
              <span class="dropdown-arrow"></span>
              <ul class="dropdown-menu">
                <li><a href="http://img.vim-cn.com/" target="_blank">vim-cn</a></li>
                <li><a href="http://codepad.org/" target="_blank">codepad</a></li>
                <li><a href="http://107.170.237.213:8080" target="_blank">黄学姐</a></li>
                <li><a href="/removeSpaceInString">去掉字符串中的空格</a></li>
              </ul>
            </li>
            <li><a href="/reminder">备忘</a></li>
            <li><a href="/about">关于</a></li>
           </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if g.user.is_authenticated %}
              <li><a href="/postNote">随手一写</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ g.user.name }}<b class="caret"></b></a>
                <span class="dropdown-arrow"></span>
                <ul class="dropdown-menu">
                  <li><a href="/logout">退出</a></li>
                </ul>
              </li>
            {% else %}
              <li><a href="/login">登录</a></li>
            {% endif %}
           </ul>
        </div>
      </nav>
      {% block content %}
      {% endblock %}
    </div>
  </body>
  <footer class="footer">
    <p><center>你看不见我看不见我看不见我</center></p>
  </footer>
</html>
